<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="cmd-extended" Manufacturer="cmd-extended" Version="1.0.0" UpgradeCode="9E40C982-9F69-4EED-9C31-27332A9282C9" Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
    <MediaTemplate />
    <Launch Condition="Privileged" Message="Administrator privileges are required to install to C:\Windows\System32." />

    <Feature Id="MainFeature" Title="cmd-extended" Level="1">
      <ComponentGroupRef Id="CmdExtendedExecutables" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="CmdExtendedExecutables" Directory="System64Folder">
      <Component Id="Cmp_accountinfo_0" Guid="*">
        <File Source="..\Release\accountinfo.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_app_events_1" Guid="*">
        <File Source="..\Release\app-events.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_calculator_2" Guid="*">
        <File Source="..\Release\calculator.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_calendar_3" Guid="*">
        <File Source="..\Release\calendar.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_clock_4" Guid="*">
        <File Source="..\Release\clock.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_cpuinfo_5" Guid="*">
        <File Source="..\Release\cpuinfo.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_driveinfo_6" Guid="*">
        <File Source="..\Release\driveinfo.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_file_manager_7" Guid="*">
        <File Source="..\Release\file-manager.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_list_bluetooth_8" Guid="*">
        <File Source="..\Release\list-bluetooth.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_list_pci_9" Guid="*">
        <File Source="..\Release\list-pci.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_list_usb_10" Guid="*">
        <File Source="..\Release\list-usb.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_logout_11" Guid="*">
        <File Source="..\Release\logout.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_meminfo_12" Guid="*">
        <File Source="..\Release\meminfo.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_reboot_13" Guid="*">
        <File Source="..\Release\reboot.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_security_events_14" Guid="*">
        <File Source="..\Release\security-events.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_sudo_15" Guid="*">
        <File Source="..\Release\sudo.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_system_events_16" Guid="*">
        <File Source="..\Release\system-events.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_systeminfo_17" Guid="*">
        <File Source="..\Release\systeminfo.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_system_monitor_18" Guid="*">
        <File Source="..\Release\system-monitor.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_userinfo_19" Guid="*">
        <File Source="..\Release\userinfo.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_version_20" Guid="*">
        <File Source="..\Release\version.exe" KeyPath="yes" />
      </Component>
      <Component Id="Cmp_wget_21" Guid="*">
        <File Source="..\Release\wget.exe" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
